@{
  Layout = "_Layout";
}

@section Title { Admin Home Page }

@section Header {
  <h1>Index</h1>
}

<h2>Approvers</h2>

<p>
  @Html.ActionLink("VIew All Accounts", "List", "Admin")
</p>

<h2>Accounts</h2>