<!doctype html>
<html>
  
  <head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <title>@RenderSection("Title", true)</title>
    <link rel="stylesheet"
          href="~/css/main.css">
    <script src="~/scripts/team.js"
            defer></script>
  </head>
  
  <body>
    @RenderBody()
  </body>
</html>