@using System.Security.Claims
@using System.Security.Principal

@if (User.Identity.IsAuthenticated)
{
  // V2 Specific
  ClaimsIdentity identity = User.Identity as ClaimsIdentity;
  string preferred_username = identity.Claims
      .FirstOrDefault(c => c.Type == "preferred_username")?
      .Value;

  <ul class="nav navbar-nav navbar-right">
    <li class="navbar-text">Hello @preferred_username</li>
    <li>
      <a asp-area=""
         asp-controller="Auth"
         asp-action="SignOut">Sign out</a>
    </li>
  </ul>
}
else
{
  <ul class="nav navbar-nav navbar-right">
    <li>
      <a asp-area=""
         asp-controller="Auth"
         asp-action="Signin">Sign in</a>
    </li>
  </ul>
}