@{
  Layout = null;
}

<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1">
  <title>Privacy</title>

  <link rel="stylesheet"
        type="text/css"
        href="@Url.Content("~/css/MicrosoftTeams.css")">
  <link rel="stylesheet"
        type="text/css"
        href="@Url.Content("~/css/main.css")">
</head>

<body class="theme-light">
  <div class="surface">
    <div class="panel">
      <div class="panel-header">
        <h1>Privacy</h1>
      </div>

      <div class="panel-body">
        <p>
          Temporary Privacy Page
        </p>
      </div>
    </div>
  </div>
</body>

</html>