@model IEnumerable<ExpenseApp.ViewModels.ExpenseListing>
@{
  Layout = "_Layout";
}

@section Title { Sandeep's Expenses }

@section Header {
  <h1>Sandeep's Expenses</h1>
}

<main>
  <p class="radio-container">
    <label>Search:</label>
    <input type="search">
    <input class="radio-button" 
           type="radio"
           name="search-type"
           value="statementNumber"
           checked> 
    <span class="radio-label">Statement Number</span> 
    <input class="radio-button" 
           type="radio"
           name="search-type"
           value="title"> 
    <span class="radio-label">Title</span>
  </p>
  
  <div class="filter">
    <h2>Filter</h2>
    <h3>Status</h3>
    <button class="button-secondary">Saved</button>
    <button class="button-secondary">Submitted</button>
    <button class="button-secondary">Approved</button>
    <button class="button-secondary">Rejected</button>
  </div>
  
  
  <table id="expense-table">
    <thead>
      <tr>
        <th>Statement Number</th>
        <th>Title</th> 
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var listing in Model)
      {
        <tr>
          <td>@listing.StatementNumber</td>
          <td>@listing.Title</td>
          <td>@listing.ListingStatus</td>
        </tr>
      }
    </tbody>
  </table>
</main>