@{
  Layout = "_Layout";
}

@section Title { Sandeep's Expenses }

<h1>Sandeep's Expenses</h1>

<main>
  <p class="search-box">
    Search: 
    <input type="search">
    <input type="radio"
           name="search-type"
           value="statementNumber"
           checked> Statement Number 
    <input type="radio"
           name="search-type"
           value="title"> Title
  </p>
  
  <aside class="filter">
    
  </aside>
</main>