@model IEnumerable<ExpenseApp.Models.ExpenseListing>
@{
  Layout = "_Layout";
}

@section Title { Home Page }

<div class="grid-container">
  @foreach (var listing in Model)
  {
    <div class="grid-item claim-title">
      @listing.Title
    </div>
    <div class="grid-item claim-status">
      @listing.ListingStatus
    </div>
  }
</div>