/* Global Styles 
------------------------*/

/* Border box fix */

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/* End Border box fix */

/* Headers & Animations */

h1 {
    text-align: center;
}

/* Layouts */

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-column-gap: 10px; */
    /* grid-row-gap: 20px; */
    grid-gap: 10px;
}

.grid-item {
    text-align: center;
}

.filter {
    float: right;
    background: #18424E;
    padding: 10px;
    margin-left: 20px;
}

.filter h2 {
    text-align: center;
}

.filter .radio-container {
    flex-direction: column;
    align-items: flex-start;
}

.filter .radio-group {
    text-align: start;
}

dl {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

dt {
    clear: left;
    float: left;
    width: 10%;
    padding: 0;
    margin: 0px 10px;
}

dd {
    float: left;
    width: 30%;
    padding: 0;
    margin: 0;
}

#expense-search-type {
    display: inline-block;
    margin-bottom: 30px; 
}

/* Controls */

.button-group {
    float: right;
    margin-top: 10px;
}

.button-primary {
    text-decoration: none;
    text-align: center;
    display: inline-block;
}

.button-secondary {
    text-decoration: none;
    text-align: center;
    display: inline-block;
}

.button-cancel {
    text-decoration: none;
    text-align: center;
    display: inline-block;
}

.field-group {
    overflow: hidden;
}

.field-group label {
    float: left;
}

.field-group div {
    overflow: hidden;
    margin-left: 10px;
}

.field-group label::after {
    content: ":";
}

.empty-list-label {
    text-align: center;
    width: 100%;
}

/* Tables */

form table td {
    padding: 5px 10px;
}

table, th, td {
    border-collapse: collapse;
}

td input[type="date"] {
    max-width: 150px;
}

th, td {
    padding: 15px;
    text-align: left;
}

#expense-entry-table input[type="number"] {
    width: 80px;
}

#expense-entry-table {
    margin-bottom: 20px;
}

#expense-table tr :nth-child(1):not(.empty-list-label) {
    width: 25%;
}

#expense-table tr :nth-child(2) {
    width: 50%;
}

#expense-table tr :nth-child(3) {
    width: 10%;
}

/* Light Theme
------------------------*/

/* Animations */

.theme-light *:target {
    -webkit-animation: 5s ease-in target-fade-light;
    -moz-animation: 5s ease-in target-fade-light;
}

@-webkit-keyframes target-fade-light {
    0% {
        background-color: rgba(252, 209, 22, 0.8);
    }
    100% {
        background-color: rgba(252, 209, 22, 0);
    }
}

@-moz-keyframes target-fade-light {
    0% {
        background-color: rgba(252, 209, 22, 0.8);
    }
    100% {
        background-color: rgba(252, 209, 22, 0);
    }
}

/* Layouts */

.theme-light .filter {
    background-color: #C4E4ED;
}

/* Controls */

.theme-light a {
    color: #5558AF;
}

.theme-light .highlight-positive {
    color: #7FBA00;
}

.theme-light .highlight-negative {
    color: #C50E2E;
}

/* Tables */

.theme-light table, .theme-light th, .theme-light td {
    border: 2px solid black;
}

.theme-light table tr:nth-child(even):not(.approver-row) {
    background-color: #eee;
}

.theme-light table tr:nth-child(odd):not(.approver-row) {
    background-color: white;
}

.theme-light table th {
    background-color: black;
    color: white;
}

.theme-light table .approver-row {
    background-color: rgba(127, 186, 0, 0.7)
}

/* Dark Theme
------------------------*/

/* Animations */

.theme-dark *:target {
    -webkit-animation: 5s ease-in target-fade-dark;
    -moz-animation: 5s ease-in target-fade-dark;
}

@-webkit-keyframes target-fade-dark {
    0% {
        background-color: rgba(251, 201, 64, 0.8);
    }
    100% {
        background-color: rgba(251, 201, 64, 0);
    }
}

@-moz-keyframes target-fade-dark {
    0% {
        background-color: rgba(251, 201, 64, 0.8);
    }
    100% {
        background-color: rgba(251, 201, 64, 0);
    }
}

/* Controls */

.theme-dark a {
    color: #9FA4FE;
}

.theme-dark .highlight-positive {
    color: #88BC2B;
}

.theme-dark .highlight-negative {
    color: #ED183E;
}

/* Tables */

.theme-dark table, .theme-dark th, .theme-dark td {
    border: 2px solid #464775;
}

.theme-dark table tr:nth-child(even):not(.approver-row) {
    background-color: #222;
}

.theme-dark table tr:nth-child(odd):not(.approver-row) {
    background-color: black;
}

.theme-dark table th {
    background-color: #464775;
    color: white;
}

.theme-dark table .approver-row {
    background-color: rgba(136, 188, 43, 0.7)
}

/* High Contrast Theme 
------------------------*/

/* Animations */

.theme-contrast *:target {
    -webkit-animation: 5s ease-in target-fade-dark;
    -moz-animation: 5s ease-in target-fade-dark;
}

/* Controls */

.theme-contrast a {
    color: #9FA4FE;
}

.theme-contrast .highlight-positive {
    color: #88BC2B;
}

.theme-contrast .highlight-negative {
    color: #ED183E;
}

/* Tables */

.theme-contrast table, .theme-contrast th, .theme-contrast td {
    border: 2px solid white;
}

.theme-contrast table th {
    color: yellow;
}

.theme-contrast table .approver-row {
    background-color: rgba(136, 188, 43, 0.7)
}