/* Global Styles 
------------------------*/

/* Border box fix */

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/* End Border box fix */

/* Headers & Animations */

h1 {
    text-align: center;
}

*:target {
    -webkit-animation: 5s ease-in target-fade;
    -moz-animation: 5s ease-in target-fade;
}

@-webkit-keyframes target-fade {
    0% {
        background-color: rgba(255,255,0,0.8);
    }

    100% {
        background-color: rgba(255,255,0,0);
    }
}

@-moz-keyframes target-fade {
    0% {
        background-color: rgba(255,255,0,0.8);
    }

    100% {
        background-color: rgba(255,255,0,0);
    }
}

/* Layouts */

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-column-gap: 10px; */
    /* grid-row-gap: 20px; */
    grid-gap: 10px;
}

.grid-item {
    text-align: center;
}

.filter {
    float: right;
    background: #18424E;
    padding: 10px;
    margin-left: 20px;
}

    .filter h2 {
        text-align: center;
    }

    .filter button {
        display: block
    }

dl {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

dt {
    clear: left;
    float: left;
    width: 10%;
    padding: 0;
    margin: 0px 10px;
}

dd {
    float: left;
    width: 30%;
    padding: 0;
    margin: 0;
}

/* Controls */

.button-primary {
    text-decoration: none;
    text-align: center;
    display: inline-block;
}

.button-secondary {
    text-decoration: none;
    text-align: center;
    display: inline-block;
}

.button-group {
    float: right;
    margin-top: 10px;
}

.field-group {
    overflow: hidden;
}

    .field-group label {
        float: left;
    }

    .field-group div {
        overflow: hidden;
        margin-left: 10px;
    }

    .field-group label::after {
        content: ":";
    }

.highlight-positive {
    color: limegreen;
}

.highlight-negative {
    color: red;
}

.empty-list-label {
    text-align: center;
}

/* Tables */

table .approver-row {
    background-color: rgba(50, 205, 50, 0.7)
}

form table td {
    padding: 5px 10px;
}

table, th, td {
    border-collapse: collapse;
}

    td input[type="date"] {
        max-width: 150px;
    }

th, td {
    padding: 15px;
    text-align: left;
}

#expense-table tr :nth-child(1) {
    width: 30%;
}

#expense-table tr :nth-child(2) {
    width: 60%;
}

#expense-table tr :nth-child(3) {
    width: 10%;
}

/* Light Theme
------------------------*/

/* Layouts */

.theme-light .filter {
    background-color: #C4E4ED;
}

/* Controls */

.theme-light .highlight-positive {
    color: green;
}

.theme-light .highlight-negative {
    color: darkred;
}

/* Tables */

.theme-light table, .theme-light th, .theme-light td {
    border: 2px solid black;
}

    .theme-light table tr:nth-child(even):not(.approver-row) {
        background-color: #eee;
    }

    .theme-light table tr:nth-child(odd):not(.approver-row) {
        background-color: white;
    }

    .theme-light table th {
        background-color: black;
        color: white;
    }

/* Dark Theme
------------------------*/

/* Tables */

.theme-dark table, .theme-dark th, .theme-dark td {
    border: 2px solid #464775;
}

    .theme-dark table tr:nth-child(even):not(.approver-row) {
        background-color: #222;
    }

    .theme-dark table tr:nth-child(odd):not(.approver-row) {
        background-color: black;
    }

    .theme-dark table th {
        background-color: #464775;
        color: white;
    }

/* High Contrast Theme 
------------------------*/

/* Tables */

.theme-contrast table, .theme-contrast th, .theme-contrast td {
    border: 2px solid white;
}

    .theme-contrast table th {
        color: yellow;
    }
