/* Global Styles 
------------------------*/

/* Border box fix */

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/* End Border box fix */

/* Headers & Animations */

h1 {
    text-align: center;
    top: 0%;
    width: 100%;
    left: 0px;
    margin-bottom: 20px;
    margin-top: 0px;
    padding-bottom: 25px;
    padding-top: 15px;
}

/* Layouts */

dl {
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

dt {
    clear: left;
    float: left;
    font-weight: bold;
    margin: 0px 10px;
    padding: 0;
    width: 10%;
}

dd {
    float: left;
    margin: 0;
    padding: 0;
    width: 30%;
}

.dl-header {
    font-size: 1.5rem;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
}

.filter {
    float: right;
    margin-left: 20px;
    padding: 10px;
}

.filter h2 {
    text-align: center;
}

.filter .radio-container {
    align-items: flex-start;
    flex-direction: column;
}

.filter .radio-group {
    text-align: start;
}

.grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
}

.grid-item {
    text-align: center;
}

#expense-search-type {
    display: inline-block;
    margin-bottom: 30px;
}

/* Controls */

img {
    display: block;
    max-height: 500px;
    max-width: 500px;
}

.button-group {
    float: right;
    margin-top: 10px;
}

.button-primary, .button-secondary, .button-cancel {
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.empty-list-label {
    text-align: center;
    width: 100%;
}

.field-group {
    overflow: hidden;
}

.field-group label {
    float: left;
}

.field-group div {
    margin-left: 10px;
    overflow: hidden;
}

.field-group label::after {
    content: ":";
}

/* Tables */

form table td {
    padding: 5px 10px;
}

table, th, td {
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: left;
}

#expense-entry-table {
    margin-bottom: 20px;
}

#expense-table tr :nth-child(1):not(.empty-list-label) {
    width: 25%;
}

#expense-table tr :nth-child(2) {
    width: 50%;
}

#expense-table tr :nth-child(3) {
    width: 10%;
}

/* Light Theme
------------------------*/

/* Headers & Animations */

.theme-light *:target {
    -moz-animation: 5s ease-in target-fade-light;
    -webkit-animation: 5s ease-in target-fade-light;
}

@-webkit-keyframes target-fade-light {
    0% {
        background-color: rgba(252, 209, 22, 0.8);
    }
    100% {
        background-color: rgba(252, 209, 22, 0);
    }
}

@-moz-keyframes target-fade-light {
    0% {
        background-color: rgba(252, 209, 22, 0.8);
    }
    100% {
        background-color: rgba(252, 209, 22, 0);
    }
}

.theme-light h1 {
    background-color: rgba(159, 164, 254, 0.781);
}

/* Layouts */

.theme-light .filter {
    background-color: #9FA4FE;
}

/* Controls */

.theme-light a {
    color: #5558AF;
}

.theme-light .highlight-positive {
    color: #7FBA00;
}

.theme-light .highlight-negative {
    color: #C50E2E;
}

/* Tables */

.theme-light table, .theme-light th, .theme-light td {
    border: 2px solid black;
}

.theme-light table tr:nth-child(even):not(.approver-row) {
    background-color: #eee;
}

.theme-light table tr:nth-child(odd):not(.approver-row) {
    background-color: white;
}

.theme-light table th {
    background-color: black;
    color: white;
}

.theme-light .table-header {
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: center;
}

.theme-light table .approver-row {
    background-color: rgba(127, 186, 0, 0.7)
}

/* Dark Theme
------------------------*/

/* Headers & Animations */

.theme-dark *:target {
    -moz-animation: 5s ease-in target-fade-dark;
    -webkit-animation: 5s ease-in target-fade-dark;
}

@-webkit-keyframes target-fade-dark {
    0% {
        background-color: rgba(251, 201, 64, 0.8);
    }
    100% {
        background-color: rgba(251, 201, 64, 0);
    }
}

@-moz-keyframes target-fade-dark {
    0% {
        background-color: rgba(251, 201, 64, 0.8);
    }
    100% {
        background-color: rgba(251, 201, 64, 0);
    }
}

.theme-dark h1 {
    background-color: rgba(41, 51, 112, 0.884);
}

/* Layouts */

.theme-dark .filter {
    background-color: #293370;
}

/* Controls */

.theme-dark a {
    color: #9FA4FE;
}

.theme-dark .highlight-positive {
    color: #88BC2B;
}

.theme-dark .highlight-negative {
    color: #ED183E;
}

/* Tables */

.theme-dark table, .theme-dark th, .theme-dark td {
    border: 2px solid #464775;
}

.theme-dark table tr:nth-child(even):not(.approver-row) {
    background-color: #222;
}

.theme-dark table tr:nth-child(odd):not(.approver-row) {
    background-color: black;
}

.theme-dark table th {
    background-color: #464775;
    color: white;
}

.theme-dark .table-header {
    background-color: #464775;
    color: white;
    font-weight: bold;
    text-align: center;
}

.theme-dark table .approver-row {
    background-color: rgba(136, 188, 43, 0.7)
}

/* High Contrast Theme 
------------------------*/

/* Headers & Animations */

.theme-contrast *:target {
    -moz-animation: 5s ease-in target-fade-dark;
    -webkit-animation: 5s ease-in target-fade-dark;
}

.theme-contrast h1 {
    border: 5px solid white;
    color: yellow;
}

/* Layouts */

.theme-contrast .filter {
    border: 2px solid white;
    color: yellow;
}

.theme-contrast .radio-container {
    color: white;
}

/* Controls */

.theme-contrast a {
    color: #9FA4FE;
}

.theme-contrast .highlight-positive {
    color: #88BC2B;
}

.theme-contrast .highlight-negative {
    color: #ED183E;
}

/* Tables */

.theme-contrast table, .theme-contrast th, .theme-contrast td {
    border: 2px solid white;
}

.theme-contrast table th {
    color: yellow;
}

.theme-contrast .table-header {
    color: yellow;
    font-weight: bold;
    text-align: center;
}

.theme-contrast table .approver-row {
    background-color: rgba(136, 188, 43, 0.7)
}