@model ExpenseEntry

@{
  string base64 = Convert.ToBase64String(Model.Receipt.ReceiptImage);
  string imgSrc = string.Format("data:image/jpg;base64,{0}", base64);
}

@section Title { Expense Entry Details }

@section Header {
  <h1>Expense Claim Details</h1>
}

<h2>@Model.Receipt.FileName</h2>

<img src="@imgSrc"/>

<div class="button-group">
  <a class="button-secondary"
     href="@ViewBag.ReturnUrl">Back</a>
</div>