@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model ExpenseApp.Models.DB.ExpenseEntry

@{
  Layout = "_Layout";
}

@section Title { Expense Entry Details }

@section Header {
  <h1>Expense Claim Details</h1>
}

<p>
  Test Image
</p>

<a class="button-secondary"
   href="@ViewBag.ReturnUrl">Back</a>